<%= form_for @midia, :html => { :class => "form-horizontal midia" } do |f| %>

  <% if @midia.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@midia.errors.count, "error") %> prohibited this midia from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @midia.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :filme_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :filme_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:filme_id) %>
  </div>
  <div class="form-group">
    <%= f.label :inutilizada, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :inutilizada, :class => 'form-control' %>
    </div>
    <%=f.error_span(:inutilizada) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                midias_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
