<%- model_class = Midia -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:filme_id) %>:</strong></dt>
  <dd><%= @midia.filme_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inutilizada) %>:</strong></dt>
  <dd><%= @midia.inutilizada %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              midias_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_midia_path(@midia), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              midia_path(@midia),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
