<%= form_for @locacao, :html => { :class => "form-horizontal locacao" } do |f| %>

  <% if @locacao.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@locacao.errors.count, "error") %> prohibited this locacao from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @locacao.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :cliente_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cliente_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cliente_id) %>
  </div>
  <div class="form-group">
    <%= f.label :midia_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :midia_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:midia_id) %>
  </div>
  <div class="form-group">
    <%= f.label :dia_emprestimo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :dia_emprestimo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:dia_emprestimo) %>
  </div>
  <div class="form-group">
    <%= f.label :dia_devolucao, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :dia_devolucao, :class => 'form-control' %>
    </div>
    <%=f.error_span(:dia_devolucao) %>
  </div>
  <div class="form-group">
    <%= f.label :observacao, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :observacao, :class => 'form-control' %>
    </div>
    <%=f.error_span(:observacao) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                locacoes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
