<%- model_class = Locacao -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:cliente_id) %></th>
      <th><%= model_class.human_attribute_name(:midia_id) %></th>
      <th><%= model_class.human_attribute_name(:dia_emprestimo) %></th>
      <th><%= model_class.human_attribute_name(:dia_devolucao) %></th>
      <th><%= model_class.human_attribute_name(:observacao) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @locacoes.each do |locacao| %>
      <tr>
        <td><%= link_to locacao.id, locacao_path(locacao) %></td>
        <td><%= locacao.cliente_id %></td>
        <td><%= locacao.midia_id %></td>
        <td><%= locacao.dia_emprestimo %></td>
        <td><%= locacao.dia_devolucao %></td>
        <td><%= locacao.observacao %></td>
        <td><%=l locacao.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_locacao_path(locacao), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      locacao_path(locacao),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_locacao_path,
            :class => 'btn btn-primary' %>
