<%- model_class = Locacao -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:cliente_id) %>:</strong></dt>
  <dd><%= @locacao.cliente_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:midia_id) %>:</strong></dt>
  <dd><%= @locacao.midia_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dia_emprestimo) %>:</strong></dt>
  <dd><%= @locacao.dia_emprestimo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dia_devolucao) %>:</strong></dt>
  <dd><%= @locacao.dia_devolucao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observacao) %>:</strong></dt>
  <dd><%= @locacao.observacao %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              locacoes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_locacao_path(@locacao), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              locacao_path(@locacao),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
