<%= form_for @categoria, :html => { :class => "form-horizontal categoria" } do |f| %>

  <% if @categoria.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@categoria.errors.count, "error") %> prohibited this categoria from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @categoria.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :descricao, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :descricao, :class => 'form-control' %>
    </div>
    <%=f.error_span(:descricao) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                categorias_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
