<%= form_for @endereco, :html => { :class => "form-horizontal endereco" } do |f| %>

  <% if @endereco.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@endereco.errors.count, "error") %> prohibited this endereco from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @endereco.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :rua, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :rua, :class => 'form-control' %>
    </div>
    <%=f.error_span(:rua) %>
  </div>
  <div class="form-group">
    <%= f.label :bairro, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :bairro, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bairro) %>
  </div>
  <div class="form-group">
    <%= f.label :numero, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :numero, :class => 'form-control' %>
    </div>
    <%=f.error_span(:numero) %>
  </div>
  <div class="form-group">
    <%= f.label :cidade, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cidade, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cidade) %>
  </div>
  <div class="form-group">
    <%= f.label :estado, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :estado, :class => 'form-control' %>
    </div>
    <%=f.error_span(:estado) %>
  </div>
  <div class="form-group">
    <%= f.label :cep, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cep, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cep) %>
  </div>
  <div class="form-group">
    <%= f.label :complemento, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :complemento, :class => 'form-control' %>
    </div>
    <%=f.error_span(:complemento) %>
  </div>
  <div class="form-group">
    <%= f.label :cliente_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cliente_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cliente_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                enderecos_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
