<%= form_for @filme, :html => { :class => "form-horizontal filme" } do |f| %>

  <% if @filme.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@filme.errors.count, "error") %> prohibited this filme from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @filme.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :categoria_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:categoria_id, Categoria.all, :id, :descricao, {prompt: "Selecione"}, {class: 'form-control'}) %>
    </div>
    <%=f.error_span(:categoria_id) %>
  </div>
  <div class="form-group">
    <%= f.label :descricao, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :descricao, :class => 'form-control' %>
    </div>
    <%=f.error_span(:descricao) %>
  </div>
  <div class="form-group">
    <%= f.label :ano, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ano, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ano) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                filmes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
