<%- model_class = Filme -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:categoria_id) %>:</strong></dt>
  <dd><%= @filme.categoria_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descricao) %>:</strong></dt>
  <dd><%= @filme.descricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ano) %>:</strong></dt>
  <dd><%= @filme.ano %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              filmes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_filme_path(@filme), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              filme_path(@filme),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
